    header{
        background: black;
        text-align: center;
        color: aliceblue;
        padding: 10px; 
    }
    nav{
        background-color: #fafafa36;
        text-align: center;
        color: aliceblue;
    }
    nav a{
        padding: 14px;
        color: aliceblue;
    }
    nav a:hover{
        background-color: aliceblue;
        color: black;
        border: 3px solid black;
        border-radius: 100px;
    
    }
    p{
        font-family: 'Courier New', Courier, monospace ;
    }
   #section1 {
    position: relative;
    text-align: left;
    padding: 0.5rem 0.5rem 1.5rem 1rem;
    border-left: 10px solid burlywood;
    border-radius: 10px;
}

/* EXTENSIÓN SUPERIOR E INFERIOR CON RAMPA */
#section1::before,
#section1::after {
    content: "";
    position: absolute;
    left: 0;

    width: 260px;      /* longitud hacia la derecha */
    border-top-width: 360px;
    height: 10px;      /* altura máxima */

    background: burlywood;

    /* rampa descendente */
    clip-path: polygon(
        0 0,
        95% 0,
        100% 100%,
        0 100%
    );
}

/* arriba */
#section1::before {
    top: 0;
    
}

/* abajo (rampa invertida) */
#section1::after {
    bottom: 0;
    clip-path: polygon(
        0 100%,
        65% 70%,
        70% 0,
        0 0
    );
}

#section1 li {
    margin-left: 25px;
}


    #IACapacitive li{
            font-style: italic;
        }
    div.flex-container{
        display: flex;
        flex-direction: row;
    }
    div.imagecenter{
        background: linear-gradient(to bottom, #2435b3, #2b49c9c7, #3161d8);
        display: block;
        text-align: center;
    }
    table{
        border-spacing: 0 10px;
        border-radius: 10px;
        width:100% ;
        border-collapse: collapse;
        border-color: aliceblue;
        background-color: #436dac;
        text-align: center;
      }
    td, th{
        padding: 5px 10px;
        border-radius: 10px;
    }
    td.name{
        font-style:italic;
      }
    p{
       font-family: 'Courier New', Courier, monospace ;
    }
    #IACapacitive li{
        font-style: italic;
    }
    div.flex-container{
        display: flex;
        flex-direction: row;
    }
    div.imagecenter{
        background: linear-gradient(to bottom, #2435b3, #2b49c9c7, #3161d8);
        display: block;           
        text-align: center;
    }
